@media screen and (min-height: 1100px) {

    #block_home {
        margin: 100px auto 240px;
    }

    .block_panel {
        margin: 140px auto 300px;
    }

}

@media screen and (max-width: 1500px) {
    .block_header {
        width: 90%;
    }

    #block_home {
        width: 90%;
    }

    #block_profil {
        width: 90%;
    }

    .block_service {
        width: 90%;
    }

    .first_offer {
        margin-top: 60px;
    }

    .second_offer {
        margin-top: 60px;
    }

    .service_text>p>i {
        display: none;
    }

    .service_text2>p>i {
        display: none;
    }

    .block_panel {
        width: 90%;
    }

    .mention_case {
        justify-content: space-between;
    }

    .ruban::after {
        top: 40px;
    }

    .mention_case h3 {
        font-size: 22px;
    }

    .mention_case p {
        font-size: 16px;
    }

    .conditions>h3 {
        font-size: 22px;
    }

    .conditions>p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1190px) {

    .block_header>a {
        display: block;
    }

    /* Sidenav menu */
    .sidenav {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: white;
        padding-top: 60px;
        transition: left 0.5s ease;
        border-right: 2px solid #445964;

    }

    /* Sidenav menu links */
    .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #445964;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidenav>ul>li {
        padding-bottom: 20px;
    }

    .sidenav>ul>li>a>i {
        display: inline-block;
    }

    /* Active class */
    .sidenav.active {
        left: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: #445964;
        margin: 6px 0;
    }

    #block_home {
        flex-direction: column-reverse;
        align-items: center;
        margin: 30px auto 40px;
    }

    .block_text {
        text-align: center;
        margin-bottom: 30px;
    }

    .case_text>h1 {
        text-align: center;
    }

    .case_text>p:nth-child(3) {
        visibility: hidden;
    }

    .button_contact {
        margin: auto;
    }

    .block_header {
        width: 95%;
    }

    .block_skills {
        margin-top: 30px;
    }

    .case_skill {
        width: 100%;
    }

    .service_title>h2 {
        font-size: 30px;
        margin-top: 30px;
    }

    .first_offer {
        flex-direction: column-reverse;
    }

    .first_offer>img {
        width: 60%;
        padding-bottom: 30px;
    }

    .first_offer>.service_text>h3 {
        font-size: 20px;
    }

    .service_text {
        width: 90%;
        text-align: center;
        padding-bottom: 60px;
    }

    .service_text2 {
        width: 90%;
        text-align: center;
        padding-bottom: 60px;
    }

    .second_offer {
        flex-direction: column;
    }

    .second_offer>img {
        width: 60%;
        padding-bottom: 30px;
    }

    .second_offer>.service_text>h3 {
        font-size: 20px;
    }

    .swiper {
        width: 90%;
    }

    .block_contact {
        width: 53%;
    }

    .block_contact>h2 {
        font-size: 30px;
    }

    .mention_case {
        flex-direction: column;
    }

    .visible_mentions {
        display: inline-block;
        margin: auto 40px;
        font-family: 'Inter Tight', sans-serif;
        font-size: 22px;
        font-weight: 500;
    }

    .case_block {
        margin-bottom: 50px;
    }

    .mention_case h3 {
        font-size: 25px;
    }

    .mention_case p {
        font-size: 20px;
    }

    .conditions>h3 {
        font-size: 25px;
    }

    .conditions>p {
        font-size: 20px;
    }

    .ruban::after {
        display: none;
    }

    .balance {
        display: none;
    }

    .icon_reseau {
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .block_header {
        width: 90%;
        height: 80px;
    }

    #block_home {
        width: 95%;
    }

    .case_title>p {
        display: none;
    }

    .case_text>h1 {
        font-size: 30px;
    }

    .index_img {
        text-align: center;
    }

    .index_img>img {
        width: 90%;
    }

    .case_nav {
        display: none;
    }

    #menu_burger {
        visibility: visible;
    }

    #block_profil {
        width: 95%;
        margin: auto;
    }

    .button_contact {
        width: auto;
    }

    .case_profil {
        flex-direction: column;
        margin-top: 50px;
    }

    .profil_text {
        width: 90%;
    }

    .profil_text>h2 {
        visibility: hidden;
        margin-top: 0px;
    }

    .hexagone {
        width: 200px;
    }

    .block_flex {
        flex-direction: row;
    }

    .case_skill {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill {
        margin-bottom: 30px;
    }

    .first_offer>.service_text>h3 {
        font-size: 20px;
    }

    .first_offer>.service_text>p {
        font-size: 15px;
    }

    .second_offer>.service_text2>h3 {
        font-size: 20px;
    }

    .second_offer>.service_text2>p {
        font-size: 15px;
    }

    .swiper {
        width: 100%;
    }

    .block_panel {
        flex-direction: column;
        margin: 20px auto 40px;
    }

    .block_panel>img {
        width: 65%;
    }

    .block_contact {
        width: 90%;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .block_flex {
        flex-direction: column;
    }

    .case_title>p {
        font-size: 25px;
    }

    .block_skills>h2 {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .skill {
        margin-bottom: 60px;
    }

    .block_panel {
        margin: 20px auto 40px;
    }

    .block_panel>img {
        width: 75%;
    }

    .block_contact {
        width: 100%;
    }

    .block_contact>h2 {
        font-size: 28px;
    }
}