@media screen and (min-width: 1925px) {
    .block_header {
        width: 60%;
    }

    #block_home {
        width: 60%;
    }

    .icon_reseau {
        width: 60%;
    }

    #block_profil {
        width: 60%;
    }
}