body {
    padding: 0;
    margin: auto;
    background-image: url("/assets/image6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100vw;
}

h1 {
    text-align: left;
    font-family: 'Inter Tight', sans-serif;
    font-size: 50px;
}

h2 {
    text-align: left;
    font-family: 'Inter Tight', sans-serif;
    font-size: 35px;
}

h3 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

h4 {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.pic_profil {
    width: 450px;
    height: 450px;
    border-radius: 75px;
    border: 3px solid black;
    overflow: hidden;
    margin: 40px;
}

.pic_profil>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(1.2);
}

.reveal-L {
    opacity: 0;
    transform: translateX(-100px);
}

.reveal-R {
    opacity: 0;
    transform: translateX(100px);
}

.reveal-visible {
    opacity: 1;
    transform: translateX(0px);
    transition: 2s;
}

.case_bulle {
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

span {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: transparent;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    border: 2px solid black;
    margin: 10px;

}

.span_about {
    background-color: #d2a7ff;
}

.span_skills {
    background-color: #bea8ff;
}

.span_contact {
    background-color: #9488ff;
}

a {
    text-decoration: none;
    color: black;
}

span:hover {
    transform: translateY(50px);
    transition: transform 1000ms;
}

.button_contact {
    cursor: pointer;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid black;
}

.button_contact:hover {
    transform: translateX(50px);
    transition: transform 750ms;
}

.button_contact::before {
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 24%, rgba(19, 139, 177, 1) 71%);
    border-radius: 10px;
    z-index: -1;
    transform-origin: 0% 0%;
    transform: scaleX(0);
}

.button_contact:hover::before {
    animation: fill 1s forwards;
    transition: cubic-bezier(.82, .08, .57, .78)
}

.case_about {
    padding: 40px;
}

.skills_text {
    padding: 40px;
}

.case_skills {
    padding: 40px;
}

.bar_skill {
    position: relative;
    height: 25px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;
    color: white;
}

.bar_skill>h4 {
    padding-left: 5px;
}

.bar_skill:nth-child(1):before {
    content: " ";
    position: absolute;
    height: 25px;
    width: 100%;
    background: rgb(136, 129, 192);
    z-index: -1;
    opacity: 0.6;
}

.bar_skill:nth-child(2):before {
    content: " ";
    position: absolute;
    height: 25px;
    width: 100%;
    background: rgb(159, 121, 199);
    z-index: -1;
    opacity: 0.6;
}

.bar_skill:nth-child(3):before {
    content: " ";
    position: absolute;
    height: 25px;
    width: 90%;
    background: rgb(212, 172, 212);
    z-index: -1;
    opacity: 0.6;
}

.bar_skill:nth-child(4):before {
    content: " ";
    position: absolute;
    height: 25px;
    width: 80%;
    background: rgb(180, 160, 180);
    z-index: -1;
    opacity: 0.6;
}

.bar_skill:nth-child(5):before {
    content: " ";
    position: absolute;
    height: 25px;
    width: 80%;
    background: rgb(181, 136, 158);
    z-index: -1;
    opacity: 0.6;
}

@keyframes fill {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}